In [19]:
import pandas as pd
import numpy as np
# Set ipython's max row display
pd.set_option('display.max_row', 1000)
# Set iPython's max column width to 50
pd.set_option('display.max_columns', 50)

In [20]:
import unicodecsv

In [21]:
def read_csv(filename):
    with open(filename, 'rb') as f:
        reader = unicodecsv.DictReader(f)
        return list(reader)
    
enrollments = pd.read_csv('enrollments.csv')
daily_engagement = pd.read_csv('daily_engagement.csv')
project_submissions = pd.read_csv('project_submissions.csv')

In [22]:
enrollments.head()

,account_key,status,join_date,cancel_date,days_to_cancel,is_udacity,is_canceled
0,448,canceled,2014-11-10,2015-01-14,65.0,True,True
1,448,canceled,2014-11-05,2014-11-10,5.0,True,True
2,448,canceled,2015-01-27,2015-01-27,0.0,True,True
3,448,canceled,2014-11-10,2014-11-10,0.0,True,True
4,448,current,2015-03-10,NaN,NaN,True,False

In [23]:
daily_engagement.head()

,acct,utc_date,num_courses_visited,total_minutes_visited,lessons_completed,projects_completed
0,0,2015-01-09,1.0,11.679374,0.0,0.0
1,0,2015-01-10,2.0,37.284887,0.0,0.0
2,0,2015-01-11,2.0,53.633746,0.0,0.0
3,0,2015-01-12,1.0,33.489270,0.0,0.0
4,0,2015-01-13,1.0,64.779678,0.0,0.0

In [24]:
project_submissions.head()

,creation_date,completion_date,assigned_rating,account_key,lesson_key,processing_state
0,2015-01-14,2015-01-16,UNGRADED,256,3176718735,EVALUATED
1,2015-01-10,2015-01-13,INCOMPLETE,256,3176718735,EVALUATED
2,2015-01-20,2015-01-20,PASSED,256,3176718735,EVALUATED
3,2015-03-10,2015-03-13,PASSED,434,3176718735,EVALUATED
4,2015-02-17,2015-03-03,INCOMPLETE,434,3176718735,EVALUATED

In [26]:
type(enrollments)

pandas.core.frame.DataFrame

In [35]:
len(daily_engagement)

136240

In [39]:
len(project_submissions)

3642

In [42]:
'''
unique_enrolled_students = set()
for enrollment in enrollments:
    unique_enrolled_students.add(enrollment['account_key])
len(unique_enrolled_students)

'''

"\nunique_enrolled_students = set()\nfor enrollment in enrollments:\n    unique_enrolled_students.add(enrollment['account_key])\nlen(unique_enrolled_students)\n\n"

In [43]:
'''
unique_engagement_students = set()
for engagement_record in daily_engagement:
    unique_engagement_students.add(engagement_record['acct])
len(unique_engagement_students)
'''

"\nunique_engagement_students = set()\nfor engagement_record in daily_engagement:\n    unique_engagement_students.add(engagement_record['acct])\nlen(unique_engagement_students)\n"

In [44]:
'''
unique_project_submitters = set()
for submission in project_submissions:
    unique_project_submitters.add(submission['account_key])
len(unique_project_submitters)
'''

"\nunique_project_submitters = set()\nfor submission in project_submissions:\n    unique_project_submitters.add(submission['account_key])\nlen(unique_project_submitters)\n"