In [2]:
import pandas as pd

In [4]:
animals = ['tiger', 'bear', 'moose']
pd.Series(animals)

0    tiger
1     bear
2    moose
dtype: object

In [5]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [6]:
animals = ['Tiger', 'Bear', None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [7]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [8]:
import numpy as np
np.nan == None

False

In [9]:
np.isnan(np.nan)

True

In [19]:
sports = {'Archery' : 'Bhutan',
         'Golf' : 'Scotland',
         'Sumo' : 'Japan',
         'Taekwondo' : 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [21]:
s.iloc[3]

'South Korea'

In [22]:
s.loc['Golf']

'Scotland'

In [23]:
s[3]

'South Korea'

In [24]:
s['Golf']

'Scotland'

In [30]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
s


total = 0
for item in s:
    total += item
print(total)

324.0

In [31]:
import numpy as np
total = np.sum(s)
print(total)

324.0

In [32]:
s = pd.Series(np.random.randint(0, 1000, 10000))
s.head()

0    926
1    936
2    368
3    862
4    339
dtype: int32

In [33]:
len(s)

10000

In [35]:
%%timeit -n 100
summary = 0
for item in s:
    summary += item

100 loops, best of 3: 1.31 ms per loop

In [36]:
%%timeit -n 100
summary = np.sum(s)

100 loops, best of 3: 121 µs per loop

In [37]:
s += 2
s.head()

0    928
1    938
2    370
3    864
4    341
dtype: int32

In [38]:
for label, value in s.iteritems():
    s.set_value(label, value+2)
s.head()

0    930
1    940
2    372
3    866
4    343
dtype: int32

In [39]:
%%timeit -n 10
s = pd.Series(np.random.randint(0, 1000, 10000))
for label, value in s.iteritems():
    s.loc[label] = value+2

10 loops, best of 3: 913 ms per loop

In [40]:
%%timeit -n 10
s = pd.Series(np.random.randint(0, 1000, 10000))
s += 2

10 loops, best of 3: 284 µs per loop

In [42]:
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

0             1
1             2
2             3
Animal    Bears
dtype: object

In [43]:
original_sports = pd.Series({'Archery' : 'Bhutan',
                            'Golf' : 'Scotland',
                            'Sumo' : 'Japan',
                            'Taekwondo' : 'South Korea'})

In [44]:
cricket_loving_countries = pd.Series(['Australia',
                                     'Barbados',
                                     'Pakistan',
                                     'England'],
                                    index = ['Cricket',
                                            'Cricket',
                                            'Cricket',
                                            'Cricket'])

all_countries = original_sports.append(cricket_loving_countries)

In [45]:
original_sports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [46]:
import pandas as pd

In [48]:
purchase_1 = pd.Series({'Name': 'Chris',
                      'Item Purchased' : 'Dog Food',
                      'Cost' : 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                      'Item Purchased' : 'Kitty Litter',
                      'Cost' : 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                      'Item Purchased' : 'Bird Seed',
                      'Cost' : 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index = ['Store 1', 'Store 1', 'Store 2'])

In [49]:
df.head()

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [52]:
df.iloc[2]

Cost                      5
Item Purchased    Bird Seed
Name                  Vinod
Name: Store 2, dtype: object

In [53]:
df.iloc[0:2]

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn

In [57]:
df.loc['Store 1']

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn

In [58]:
df.loc['Store 2']

Cost                      5
Item Purchased    Bird Seed
Name                  Vinod
Name: Store 2, dtype: object

In [60]:
type(df.loc['Store 2']) # my result

pandas.core.series.Series

In [81]:
df.iloc[0:, 1]

Store 1        Dog Food
Store 1    Kitty Litter
Store 2       Bird Seed
Name: Item Purchased, dtype: object

In [82]:
df['Item Purchased'] # result given

Store 1        Dog Food
Store 1    Kitty Litter
Store 2       Bird Seed
Name: Item Purchased, dtype: object

In [83]:
df.loc['Store 1', 'Cost']

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [84]:
df.T

                 Store 1       Store 1    Store 2
Cost                22.5           2.5          5
Item Purchased  Dog Food  Kitty Litter  Bird Seed
Name               Chris         Kevyn      Vinod

In [86]:
df.loc['Store 1']['Cost']

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [87]:
# get name and cost
df

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [93]:
df.iloc[:3]

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [98]:
df.loc[:, ['Name', 'Cost']]

          Name  Cost
Store 1  Chris  22.5
Store 1  Kevyn   2.5
Store 2  Vinod   5.0

In [127]:
# my solution

df.iloc[:,0] * .80

Store 1    18.0
Store 1     2.0
Store 2     4.0
Name: Cost, dtype: float64

In [128]:
# their solution
df['Cost'] *= 0.8
print(df)

         Cost Item Purchased   Name      Potato
Store 1  18.0       Dog Food  Chris  Potatoeeee
Store 1   2.0   Kitty Litter  Kevyn  Potatoeeee
Store 2   4.0      Bird Seed  Vinod  Potatoeeee