In [1]:
import pandas as pd

In [3]:
x = (1, 'a', 2, 'b')
type(x)

tuple

In [4]:
x = [1, 'a', 2, 'b']
type(x)

list

In [6]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

In [7]:
for item in x:
    print(item)

1
a
2
b
3.3

In [8]:
i = 0
while(i != len(x)):
    print(x[i])
    i = i + 1

1
a
2
b
3.3

In [9]:
1 in [1, 2, 3]

True

In [10]:
x = 'This is a string'
print(x[0])
print(x[0:1])
print(x[0:2])

T
T
Th

In [11]:
x[-1]

'g'

In [12]:
x[-4:-2]

'ri'

In [13]:
x[:3]

'Thi'

In [15]:
x[3:]

's is a string'

In [18]:
x = 'Dr. Christopher Brooks'
print(x[3:15])

 Christopher

In [19]:
firstname = 'Christopher Arthur Hansen Brooks'.split(' ')[0]
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1]
print(firstname)
print(lastname)

Christopher
Brooks

In [20]:
x= {'Christopher Brooks':'brooksch@umich.edu', 'Bill Gates' : 'billg@microsoft.com'}
x['Christopher Brooks']

'brooksch@umich.edu'

In [21]:
x['Kevyn Collins-Thompson'] = None
x['Kevyn Collins-Thompson']

In [22]:
for name in x:
    print(x[name])

billg@microsoft.com
None
brooksch@umich.edu

In [23]:
for name, email in x.items():
    print(name)
    print(email)

Bill Gates
billg@microsoft.com
Kevyn Collins-Thompson
None
Christopher Brooks
brooksch@umich.edu

x = ('Christopher', 'Brooks', 'brooksch@umich.edu')
fname, lname, email = x

In [28]:
fname

'Christopher'

In [29]:
lname

'Brooks'

In [30]:
email

'brooksch@umich.edu'

In [31]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu', 'Ann Arbor')

In [32]:
print('Chris' + str(2))

Chris2

In [34]:
sales_record = {'price' : 3.24,
               'num_items' : 4,
               'person' : 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                            sales_record['num_items'],
                            sales_record['price'],
                            sales_record['num_items'] * sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

In [40]:
import csv
%precision 2

with open('mpg.csv') as csvfile:
          mpg = list(csv.DictReader(csvfile))
          mpg[:3]

In [41]:
mpg[:3]

[{'': '1',
  'class': 'compact',
  'cty': '18',
  'cyl': '4',
  'displ': '1.8',
  'drv': 'f',
  'fl': 'p',
  'hwy': '29',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'auto(l5)',
  'year': '1999'},
 {'': '2',
  'class': 'compact',
  'cty': '21',
  'cyl': '4',
  'displ': '1.8',
  'drv': 'f',
  'fl': 'p',
  'hwy': '29',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'manual(m5)',
  'year': '1999'},
 {'': '3',
  'class': 'compact',
  'cty': '20',
  'cyl': '4',
  'displ': '2',
  'drv': 'f',
  'fl': 'p',
  'hwy': '31',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'manual(m6)',
  'year': '2008'}]

In [42]:
len(mpg)

234

In [43]:
mpg[0].keys()

dict_keys(['', 'displ', 'fl', 'hwy', 'cty', 'class', 'year', 'model', 'cyl', 'trans', 'manufacturer', 'drv'])

In [45]:
sum(float(d['cty']) for d in mpg) / len(mpg)

16.86

In [46]:
sum(float(d['hwy']) for d in mpg)/ len(mpg)

23.44

In [48]:
cylinders = set(d['cyl'] for d in mpg)
cylinders

{'4', '5', '6', '8'}

In [49]:
CtyMpgByCyl = []
for c in cylinders:
    summpg = 0
    cyltypecount = 0
    for d in mpg:
        if d['cyl'] == c:
            summpg += float(d['cty'])
            cyltypecount += 1
    CtyMpgByCyl.append((c, summpg / cyltypecount))
    
CtyMpgByCyl.sort(key=lambda x: x[0])
CtyMpgByCyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

In [50]:
vehicleclass = set(d['class'] for d in mpg)
vehicleclass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [52]:
HwyMpgByClass = []

for t in vehicleclass: # iterate over all the vehicle classes
    summpg = 0
    vclasscount = 0
    for d in mpg:
        if d['class'] == t:
            summpg += float(d['hwy'])
            vclasscount += 1 # increment the count
    HwyMpgByClass.append((t, summpg / vclasscount))
    

HwyMpgByClass.sort(key=lambda x: x[1])
HwyMpgByClass

[('pickup', 16.88),
 ('suv', 18.13),
 ('minivan', 22.36),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('subcompact', 28.14),
 ('compact', 28.30)]