In [8]:
import pandas as pd

In [9]:
data = pd.read_csv('enrollments.csv')

In [10]:
data.head()

,account_key,status,join_date,cancel_date,days_to_cancel,is_udacity,is_canceled
0,448,canceled,2014-11-10,2015-01-14,65,True,True
1,448,canceled,2014-11-05,2014-11-10,5,True,True
2,448,canceled,2015-01-27,2015-01-27,0,True,True
3,448,canceled,2014-11-10,2014-11-10,0,True,True
4,448,current,2015-03-10,NaN,NaN,True,False

In [31]:
#breast = read_txt('BREAST.TXT')
path = 'BREAST.TXT'
#using pandas with a column specification

# col_specification = [(0, 9), (9, 15)(16, 21)]

In [63]:

col_specification = [(0,14), (15,22), (23,33),(34,42), (42,45)]
data = pd.read_fwf(path, colspecs = col_specification)

In [64]:
data.head()

   07000003000000  502201  20601932  02111992  C50
0   7000057000000  502501  20761920   2061996  C50
1   7000066000000  502501  20701924   2061994  C50
2   7000078000000  502201  20591917   2031977  C50
3   7000091000000  502501  20651946   2102011  C50
4   7000109000000  502502  20611924   2051986  C50

In [65]:
# name files in iteration
# use df['column_name]=data['text'].str(0:4)
# set each column
# print i to file